{% extends 'base.html' %}

{%block title%}
About Page
{% endblock title %}

{% block body %}
<div class = "container">
<h2 class = "text-center"> It's a Simple Django Web App to download free photos Developed by Aakash Mahendiyan.<br>
UnSplash API is used for this to download new photos everytime you refresh the page.
This is my Second DJango App so it's not perfect.
I Hope Anyone who read this can help me in learning Django.<br>
Frameworks used in this project are Django.
</div>
{% endblock body %}